{% if weather_data %}
    {% if weather_data.error %}
        <h2>{{weather_data.error}}!!</h2>
    {% else %}
        <h1>{{weather_data.city}},{{weather_data.country}}</h1>
        <img src="http://openweathermap.org/img/w/{{weather_data.icon}}.png" alt="{{weather_data.description}}"  class="img-responsive" style="width: auto; height: 80px;">
        <h2>{{weather_data.description}}, {{weather_data.temperature}}°C </h2>
        <h2>{{weather_data.hora}}</h2>

    {% endif %}
    
    
    
    
    
    


{% endif %}

